/* シフト作成（content-build）の中にある h2 を「青色」にする */
.content-build h2 {
    color: blue;
    border-bottom: 2px solid blue;
    /* 下線もつけて分かりやすく */
}

.content-build h3 {
    color: red;
}

.calendar-container {
    display: flex;
    flex-flow: column;
    width: 100%;


}

#calendar {
    flex: 7;
    margin-bottom: 20px;
}

.event-list {
    flex: 3;
}