/* シフト作成（content-build）の中にある h2 を「青色」にする */
.content-build h2 {
    color: blue;
    border-bottom: 2px solid blue;
    text-align: center;
    /* 下線もつけて分かりやすく */
}

.content-build h3 {
    color: rgb(60, 218, 11);
}

.calendar-container {
    display: flex;
    flex-flow: column;
    width: 100%;
}

#calendar {
    flex: 7;
    margin-bottom: 20px;
}

.event-settings {
    display: flex;
    align-items: center;
    /* 高さ同じ */

    border-bottom: 2px solid #ccc;
    padding-bottom: 12px;
    margin-bottom: 20px;

}

.event-settings::before {
    content: '';
    width: 120px;
    /* 💡 右側のボタンの横幅と同じ数値に合わせる */
}

.event-settings h4 {
    font-size: 30px;
    color: rgb(32, 164, 205);
    flex: 1;
    /* 余った中央エリアをめいっぱい広げる */
    text-align: center;
    /* 文字を中央揃えにする */
    margin: 0;
}

.event-settings-button {
    width: 100em;

    height: 300em;

}

#event-list {
    flex: 3;
}

#event-list-mein {
    border: solid 1px #006fe6;
    margin-bottom: 20px;
    gap: 20px;
}